<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <div class="title-single-box">
        <h1 class="title-single"><%= @account.full_name %></h1>
        <h3 class="sinse-title"><%= @account.company %></h3>
        <h3 class="color-text-a sinse-title"">Registered for <%= time_ago_in_words @account.created_at %></h3>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <%= render "properties/profile_contact_details", agent: @account %>
    </div>
  </div>
</div>

<section class="property-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="summary-desciption row justify-content-between">
          <div class="col-md-5 col-lg-4">
            <div class="property-summary">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d section-t4">
                    <h3 class="title-d">Quick Summary</h3>
                  </div>
                </div>
              </div>
              <div class="summary-list">
                <ul class="list">
                  <li class="d-flex justify-content-between">
                    <strong class="span-property-summary">Sold :</strong>
                    <span><%= @properties_sold %></span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong class="span-property-summary">Offer :</strong>
                    <span><%= @properties_offer %></span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong class="span-property-summary">For Sale :</strong>
                    <span><%= @properties_for_sale %></span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong class="span-property-summary">Estimate :</strong>
                    <span><%= @properties_estimate %></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

    <!-- ======= Start Last Property ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="title-single-box">
          <h1 class="title-single">Current listings by this agent</h1>
        </div>
        <div class="row">
          <%= render "properties/list", properties: @properties%>
        </div>
      </div>
    </section>
    <!-- ======= End Last Property ======= -->

</section>
