<!-- ======= Intro About ======= -->
<section class="intro-single pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single"><%= translate('accounts') %></h1>
          <h2 class="sinse-title"><%= translate('listAllAccounts') %></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Intro About -->

<div class="tbl-header">
  <table>
    <thead>
      <tr>
        <th class="th-users">User</th>
        <th class="th-users">Email</th>
        <th class="th-users">Created At</th>
        <th class="th-users">View Profile</th>
      </tr>
    </thead>
  </table>
</div>

<div class="tbl-content mb-5">
  <table>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.full_name %></td>
          <td><%= account.email %></td>
          <td><%= account.created_at.strftime("%d %m %Y") %></td>
          <td><%= link_to "View profile", profile_path(account.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
