<div class="text-center border pt-2">
  <div class="mb-2">
    <%= profile_picture agent %>
  </div>
  <h3 class="h4 m-0"><%= agent.full_name %></h3>
  <h4><%= agent.company %></h4>

  <button class="btn btn-info text-uppercase mb-2" id="show-tel" data-telephone="<%= agent.telephone %>"><i class="fas fa-phone mr-2"></i><span>Call</span></button>
  <button class="btn btn-success text-uppercase mb-2" id="show-email" data-telephone="<%= agent.email %>"><i class="fas fa-phone mr-2"></i><span>Email</span></button>

</div>
