<!-- ======= Intro About ======= -->
<section class="intro-single pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single"><%= translate('properties') %></h1>
            <h3 class="sinse-title""><%= translate('listPropertiesDashboard') %></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-2">
        <div class="form-group mt-3">
          <label class="pb-2" for="Type">Type</label>
          <select class="form-control form-select form-control-a" id="Type">
            <option><%= translate('allType') %></option>
            <option><%= translate('appartement') %></option>
            <option><%= translate('house') %></option>
          </select>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="form-group mt-3">
          <label class="pb-2" for="city"><%= translate('city') %></label>
          <select class="form-control form-select form-control-a" id="city">
            <option><%= translate('allCity') %></option>
            <option>Thonon-les-bains</option>
            <option>Allinges</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="form-group mt-3">
          <label class="pb-2" for="price"><%= translate('maximumPrice') %></label>
          <select class="form-control form-select form-control-a" id="price">
            <option><%= translate('noPrice') %></option>
            <option>$200,000</option>
            <option>$500,000</option>
            <option>$700,000</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-a"><%= translate('searchProperty') %></button>
      </div>
    </div>
  </div>
</section>
<!-- End Intro About -->

<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Price</th>
        <th>Rooms</th>
        <th>Bathrooms</th>
        <th>Bedrooms</th>
        <th>Area</th>
        <th>Garages</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  </table>
</div>

<div class="tbl-content">
   <table cellpadding="0" cellspacing="0" border="0">
     <tbody>
       <% @properties.each do |property| %>
         <tr>
           <td><%= property.name %></td>
           <td><%= property.address %></td>
           <td><%= property.price %></td>
           <td><%= property.rooms %></td>
           <td><%= property.bathrooms %></td>
           <td><%= property.bedrooms %></td>
           <td><%= property.area %></td>
           <td><%= property.garages %></td>
           <td><%= link_to 'Show', property %></td>
           <td><%= link_to 'Edit', edit_property_path(property) %></td>
           <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
       <% end %>
     </tbody>
    </table>
</div>

<%= link_to 'New Property', new_property_path, class: "btn btn-success mt-4 mb-4" %>
