<!-- ======= Intro About ======= -->
<section class="intro-single pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single"><%= translate('properties') %></h1>
            <h2 class="sinse-title"><%= translate('listPropertiesDashboard') %></h2>
        </div>
      </div>
    </div>
    <%= form_tag "#{get_filterd_properties_path}", :method => :get do %>
      <div class="row">
        <div class="col-md-4 mb-2">
          <div class="form-group mt-3">
            <label class="pb-2" for="Type">Type</label>
            <%= select("properties", 'type', ['All Type', 'Appartement', 'House'], {selected: 'All Type' }, class: "form-control form-select form-control-a") %>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="form-group mt-3">
            <label class="pb-2" for="city">City</label>
            <%= select("properties", 'city', ['All City', 'Thonon-les-bains', 'Allinges', 'Chens-sur-leman', 'Evian-les-bains', 'Sciez', 'Anthy-sur-leman', 'Massongy', 'Douvaine', 'Veigy-Foncenex'], {selected: 'All City'}, class: "form-control form-select form-control-a") %>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="form-group mt-3">
            <label class="pb-2" for="price">Maximum Price</label>
            <%= select("properties", 'price', [['Unlimited', 'Unlimited'], ['$200,000', '200000'], ['$500,000', '500000'], ['$700,000', '700000'], ['$900,000', '900000']], {selected: 'Unlimited'}, class: "form-control form-select form-control-a") %>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-a">Search Property</button>
        </div>
      </div>
    <% end %>
  </div>
</section>
<!-- End Intro About -->

<div class="tbl-header">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Price</th>
        <th>Rooms</th>
        <th>Bathrooms</th>
        <th>Bedrooms</th>
        <th>Area</th>
        <th>Garages</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  </table>
</div>

<div class="tbl-content">
   <table>
     <tbody>
       <% @properties.each do |property| %>
         <tr>
           <td><%= property.name %></td>
           <td><%= property.address %></td>
           <td><%= property.price %></td>
           <td><%= property.rooms %></td>
           <td><%= property.bathrooms %></td>
           <td><%= property.bedrooms %></td>
           <td><%= property.area %></td>
           <td><%= property.garages %></td>
           <td><%= link_to 'Show', property %></td>
           <td><%= link_to 'Edit', edit_property_path(property) %></td>
           <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
       <% end %>
     </tbody>
    </table>
</div>

<%= link_to 'Create Property', new_property_path, class: "btn btn-success mt-4 mb-4" %>
