<!-- ======= Intro About ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Properties</h1>
            <h3 class="sinse-title"">List of properties of all agents </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Intro About -->

<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Price</th>
        <th>Rooms</th>
        <th>Bathrooms</th>
        <th>Bedrooms</th>
        <th>Area</th>
        <th>Garages</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  </table>
</div>

<div class="tbl-content">
   <table cellpadding="0" cellspacing="0" border="0">
     <tbody>
       <% @properties.each do |property| %>
         <tr>
           <td><%= property.name %></td>
           <td><%= property.address %></td>
           <td><%= property.price %></td>
           <td><%= property.rooms %></td>
           <td><%= property.bathrooms %></td>
           <td><%= property.bedrooms %></td>
           <td><%= property.area %></td>
           <td><%= property.garages %></td>
           <td><%= link_to 'Show', property %></td>
           <td><%= link_to 'Edit', edit_property_path(property) %></td>
           <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
       <% end %>
     </tbody>
    </table>
</div>

<%= link_to 'New Property', new_property_path, class: "btn btn-success mt-4 mb-4" %>
