<!-- ======= Intro About ======= -->
<section class="intro-single pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Peillex Domaine de Coudrée</h1>
          <h2 class="sinse-title">Peillex Domaine de Coudrée</h2>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav class=" d-flex justify-content-lg-end">
          <%= link_to image_tag("logo_2.png", class: "logo_signIn", alt: "logo_Peillex_Property")%>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Intro About -->

<!-- ======= About Section ======= -->
<section class="section-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 position-relative text-center">
        <%= link_to image_tag("agencies/sciez/sciez-2.jpg", :class => 'img-fluid')%>
        <div class="sinse-box">
          <h1 class="sinse-title">Peillex Property - Sciez
            <br>
            <i class="fas fa-phone"></i>
            04.50.72.62.01
          </h1>
          <p><%= translate('hoursSciez') %></p>
        </div>
      </div>
      <div class="col-md-12 section-t8 position-relative">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2754.4686323135966!2d6.381047551181401!3d46.3402427824788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c401d7452d169%3A0x3f946c134b9ba29c!2s1%20Av.%20Bartholoni%2C%2074140%20Sciez!5e0!3m2!1sfr!2sfr!4v1633714443714!5m2!1sfr!2sfr"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"></iframe>
          </div>
          <div class="col-md-6 col-lg-5 section-md-t3">
            <div class="title-box-d">
              <h3 class="title-d"><%= translate('discoverSciez') %></h3>
            </div>
            <p class="color-text-a">
              <%= translate('discoverTextSciez1') %>
            </p>
            <p class="color-text-a">
              <%= translate('discoverTextSciez2') %>
            </p>
            <p class="color-text-a">
              <%= translate('discoverTextSciez3') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- =======Team Section ======= -->
<section class="intro-single pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single"><%= translate('teamSciez') %></h1>
          <h2 class="sinse-title"><%= translate('teamTextSciez') %></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Intro About -->

<!-- =======Team Section In Agency ======= -->
<div class="container">
  <div class="row">
    <div class="carousel owl-carousel">
      <div class="our_team mr-5">
        <div class="team_member">
          <div class="member_img">
            <img src="https://i.imgur.com/2Necikc.png" alt="our_team">
            <div class="social_media">
              <div class="facebook item">
                <i class="fab fa-facebook-f"></i>
              </div>
              <div class="twitter item">
                <i class="fab fa-twitter"></i>
              </div>
              <div class="instagram item">
                <i class="fab fa-instagram"></i>
              </div>
            </div>
          </div>
          <h1>Jhon Doe</h1>
          <h2 class="mb-3">Agency Director</h2>
          <h3>
            <i class="fas fa-phone">06.00.00.00.00</i>
          </h3>
          <p>With a commercial background, I discovered real estate a little by chance and stayed more than 16 years in the same agency working on the 74140 sector. I will carry out all your projects as well as houses, apartments, construction projects and
            life sales.</p>
        </div>
      </div>
      <div class="team_member mr-5">
        <div class="member_img">
          <img src="https://i.imgur.com/JzUIF4o.png" alt="our_team">
          <div class="social_media">
            <div class="facebook item">
              <i class="fab fa-facebook-f"></i>
            </div>
            <div class="twitter item">
              <i class="fab fa-twitter"></i>
            </div>
            <div class="instagram item">
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
        <h1>Barbara Mori</h1>
        <h2 class="mb-3">Executive Assistant</h2>
        <h3>
          <i class="fas fa-phone">04.50.00.00.00</i>
        </h3>
        <p>In charge of the physical and telephone reception of France and International customers. On a daily basis, my mission is the administrative management and follow-up of the sales files of the Evian agency.</p>
      </div>
      <div class="team_member mr-5">
        <div class="member_img">
          <img src="https://i.imgur.com/Ctwf8HA.png" alt="our_team">
          <div class="social_media">
            <div class="facebook item">
              <i class="fab fa-facebook-f"></i>
            </div>
            <div class="twitter item">
              <i class="fab fa-twitter"></i>
            </div>
            <div class="instagram item">
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
        <h1>Jean Doe</h1>
        <h2 class="mb-3">Real Estate Advisor</h2>
        <h3>
          <i class="fas fa-phone">06.00.00.00.00</i>
        </h3>
        <p>With twenty years of experience in the real estate professions, I can bring you all my expertise and advice. I will be happy to accompany you in your purchase or sale projects. My skills will guarantee you a serene and successful transaction.</p>
      </div>
    </div>
  </div>
</div>
<!-- ======= End Team Section In Agency ======= -->
