<!-- ======= Intro About ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Peillex Thonon</h1>
          <h3 class="sinse-title"">5, Avenue Général de Gaulle</h3>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav class="d-flex justify-content-lg-end">
            <%= link_to image_tag("logo_2.png", class: "logo_signIn", alt: "logo_Peillex_Property")%>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Intro About -->

<!-- ======= About Section ======= -->
<section class="section-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 position-relative text-center">
        <div class="about-img-box">
          <%= link_to image_tag("agencies/thonon/thonon.jpg", :class => 'img-fluid')%>
        </div>
        <div class="sinse-box">
          <h3 class="sinse-title">Peillex Property - Thonon
            <br> <i class="fas fa-phone"></i> 04.50.72.62.01
          </h3>
          <p><%= translate('hoursThonon') %></p>
        </div>
      </div>
      <div class="col-md-12 section-t8 position-relative">
        <div class="row">
          <div class="col-md-6 col-lg-5">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2752.970314037753!2d6.475317551182275!3d46.369976980465495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c3e62389647db%3A0xa701571cacb5bf8d!2s5%20Av.%20du%20G%C3%A9n%C3%A9ral%20de%20Gaulle%2C%2074200%20Thonon-les-Bains!5e0!3m2!1sfr!2sfr!4v1633715497840!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
          <div class="col-md-6 col-lg-5 section-md-t3">
            <div class="title-box-d">
              <h3 class="title-d"><%= translate('discoverThonon') %>
              </h3>
            </div>
            <p class="color-text-a">
              <%= translate('discoverTextThonon1') %>
            </p>
            <p class="color-text-a">
              <%= translate('discoverTextThonon2') %>
            </p>
            <p class="color-text-a">
              <%= translate('discoverTextThonon3') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- =======Team Section ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single"><%= translate('teamThonon') %></h1>
          <h3 class="sinse-title""><%= translate('teamTextThonon') %></h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Intro About -->

<!-- =======Team Section In Agency ======= -->
<div class="container">
  <div class="row">
    <div class="our_team mr-5">
      <div class="team_member">
        <div class="member_img">
          <img src="https://i.imgur.com/2Necikc.png" alt="our_team">
          <div class="social_media">
            <div class="facebook item">
              <i class="fab fa-facebook-f"></i>
            </div>
            <div class="twitter item">
              <i class="fab fa-twitter"></i>
            </div>
            <div class="instagram item">
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
        <h1>Jhone Doe</h1>
        <h2 class="mb-3">Director</h2>
        <h3><i class="fas fa-phone">06.00.00.00.00</i></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
      </div>
    </div>
    <div class="team_member mr-5">
      <div class="member_img">
        <img src="https://i.imgur.com/JzUIF4o.png" alt="our_team">
        <div class="social_media">
          <div class="facebook item">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="twitter item">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="instagram item">
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
      <h1>Barbara Mori</h1>
      <h2 class="mb-3">Agent</h2>
      <h3><i class="fas fa-phone">06.00.00.00.00</i></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member mr-5">
      <div class="member_img">
        <img src="https://i.imgur.com/Ctwf8HA.png" alt="our_team">
        <div class="social_media">
          <div class="facebook item">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="twitter item">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="instagram item">
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
      <h1>Jhon Doe</h1>
      <h2 class="mb-3">Agent</h2>
      <h3><i class="fas fa-phone">06.00.00.00.00</i></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
  </div>
</div>
<!-- ======= End Team Section In Agency ======= -->
