  <!-- ======= Intro About ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1>Latest posts by Peillex Property</h1>
              <h3 class="sinse-title"">Stay up to date with the latest property news at Peillex Property</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro About -->

  <div class="container">
    <% if @posts.empty? %>
      <p>No posts to display</p>
    <% else %>
      <% @posts.each do |post| %>
        <div class="row">
          <div class="col-4 mb-3 text-center border">
            <h2><%= post.title %></h2>
            <div class="property-thumb" style="background-image: url(<%= post_thumbnail_url (post)%>)">
              <%= link_to "", post_path(post) %>
            </div>
            <p><%= post.summary %></p>
            <%= link_to "Read more", post_path(post), class: "btn btn-success mb-3" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</main>
