  <!-- ======= Intro About ======= -->
  <section class="intro-single pt-4 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1><%= translate('latestBlogs') %></h1>
              <h2 class="sinse-title"><%= translate('latestBlogsSub') %></h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro About -->

  <div class="container">
    <div class="row">
      <% if @posts.empty? %>
        <p>No posts to display</p>
        <% else %>
          <% @posts.each do |post| %>
          <div class="col-md-3">
            <div class="item-box-blog">
              <div class="item-box-blog-image">
                <!--Date-->
                <div class="item-box-blog-date bg-blue-ui white">
                  <span class="mon">Augu 23</span>
                </div>
                <!--Image-->
                <figure>
                  <div class="blog-thumb" style="background-image: url(<%= post_thumbnail_url (post)%>)">
                  </div>
                </figure>
              </div>
              <div class="item-box-blog-body">
                <!--Heading-->
                <div class="item-box-blog-heading">
                  <a href="#" tabindex="0">
                    <h1><%= link_to post.title, post_path(post) %></h1>
                  </a>
                </div>
                <div class="mt">
                  <%= link_to "Read More", post_path(post),class: "btn bg-blue-ui white read" %>
                </div>
                <!--Read More Button-->
              </div>
            </div>
          </div>
          <% end %>
      <% end %>
    </div>
    <div class="row justify-content-center mb-4 mt-4">
          <%= paginate @posts %>
    </div>
  </div>
