<main role="main">
  <div class="jumbotron" id="home-banner">
  </div>
</main>
  <!-- ======= Start Title Last Property ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single"><%= translate('latestProperties') %></h1>
            <h3 class="color-text-a sinse-title""><%= translate('latestPropertiesSub') %></h3>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Title Last Property-->

  <!-- ======= Start Last Property ======= -->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        <%= render "properties/list", properties: @properties %>
      </div>
    </div>
  </section>
  <!-- ======= End Last Property ======= -->

  <!-- ======= Start History ======= -->
  <section class="history-peillex">
    <div class="container">
      <div class="card card-gray card-lg">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <h1 class="mt-4 text-center"><%= translate('marketChablaisTitle') %></h1>
              <p class="text--lg text-muted text-justify my-5">
                  <%= translate('marketChablaisOne') %>
                  <br>
                  <br>
                  <%= translate('marketChablaisTwo') %>
                  <br>
                  <br>
                  <%= translate('marketChablaisThree') %>
                  <br>
                  <br>
                  <%= translate('marketChablaisFour') %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= End History ======= -->

  <!-- ======= Start Title Agent ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single"><%= translate('OurTeam') %></h1>
            <h3 class="color-text-a sinse-title""><%= translate('OurTeamSub') %></h3>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= End Title Agent ======= -->

  <!-- ======= Start Agent Section ======= -->
  <section id="latest-properties" class="mb-5">
    <div class="container">
        <%= render "agents/agents_section" %>
    </div>
  </section>
  <!-- ======= End Agent Section ======= -->


  <!-- ======= Start Title Latest Blog ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single"><%= translate('latestBlogs') %></h1>
            <h3 class="color-text-a sinse-title""><%= translate('latestBlogsSub') %></h3>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Title Latest Blog-->

  <!-- ======= Start latest Blog ======= -->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        <%= render "posts/list", posts: @posts %>
      </div>
    </div>
  </section>
  <!-- ======= End latest Blog======= -->
